{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "plugins": [
    "dollar-sign"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "google",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "max-len": [
      "off",
      80
    ],
    "require-jsdoc": [
      "off"
    ],
    "no-invalid-this": [
      "off"
    ],
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "guard-for-in": [
      "off"
    ],
    "no-undef": [
      "error"
    ],
    "dollar-sign/dollar-sign": [
      "error",
      "ignoreProperties"
    ],
    "prefer-const": [
      "error"
    ],
    "no-const-assign": [
      "error"
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "object-shorthand": [
      "error"
    ],
    "object-curly-spacing": "off",
    "arrow-parens": [
      "error",
      "always"
    ],
    "quote-props": [
      "error",
      "as-needed"
    ],
    "no-extend-native": "off",
    "indent": "off",
    "eqeqeq": [
      "error",
      "always"
    ],
    "curly": [
      "error",
      "all"
    ]
  }
}
